@font-face{font-family:Montserrat;src:url('assets/montserrat.ttf') format('truetype');font-style:normal;font-weight:100 900;font-display:swap}
@font-face{font-family:'League Spartan';src:url('assets/league-spartan.ttf') format('truetype');font-style:normal;font-weight:100 900;font-display:swap}
